.head1 {
    text-align: center;
}

.head2 {
    text-align: center;
    font-family: Times New Roman;
    text-decoration: underline;
}

.column {
    float: left;
    width: 40%;
}

.column2 {
    float: right;
    width: 50%;
}

.column3 {
    float: right;
    width: 45%;
}

.column4 {
    float: left;
    width: 50%;
}

.p {
    text-align: center;
    font-family: Roboto;
}