doctype html
head
  title UNIVERSITY ROUTEMAP
  style 
    include courseDetails.css
div
  img(src='./images/UORLogo.png' style='width: 200px;height: 100px;')
h1.head1 UNIVERSITY ROUTE MAP
.dropDown
  span.head2  SELECT YOUR COURSE
  div
    label(for='choosePage') Choose A Page: 
    select#choosePage(name='choosePage' onchange='location = this.value;')
      option(value='') Redirect To
      option(value='./') Home Page
      option(value='./intake') Intake Page
      option(value='./courseDetails') Course Page
      option(value='subjectPage') Subject Page
      option(value='classDetailsPage') Class Details Page
      option(value='./getDirections') Get Directions Page
.row
  .column
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/computing/#:~:text=The%20course%20focuses%20on%20core,data%20solutions%20and%20secure%20systems.' target='_blank')
      img(src='./images/MScComputing.webp' style='width: 400px; height: 300px;')
    p.p M.SC COMPUTING
  .column
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/global-financial-management/' target='_blank')
      img(src='./images/GlobalFinance.jpeg' style='width: 400px; height: 300px;')
    p.p M. SC GLOBAL FINANCE
  .column
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/data-science/' target='_blank')
      img(src='./images/DataScience.jpeg' style='width: 400px; height: 300px;')
    p.p DATA SCIENCE
