doctype html
head  
h1.head1 UNIVERSITY ROUTE MAP
h4.head2 SELECT YOUR COURSE
.row
  .column
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/computing/#:~:text=The%20course%20focuses%20on%20core,data%20solutions%20and%20secure%20systems.' target='_blank')
      img(src='https://www.londonmet.ac.uk/media/london-metropolitan-university/london-met-photos/professional-service-departments-photos/engagement/pr-and-communications/news-images/2022/june/compsci.jpg' style='width:25%')
    p.p M.SC COMPUTING
  .column2
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/global-financial-management/' target='_blank')
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfw35LMqj0Npay95KzTV5c5YN6aROYm7TtKA&usqp=CAU.jpg' style='width:25%')
    p.p M. SC GLOBAL FINANCE
  .column3
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/mba/' target='_blank')
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiGyzr-SeRezxs55xUJo9LZZxi2ESHmbNhSA&usqp=CAU' style='width:25%')
    p.p MBA
  .column4
    a(href='https://www.roehampton.ac.uk/postgraduate-courses/data-science/' target='_blank')
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQh9qPZufWu6Po8BFI3hwwhKtyES6YP46Qln6A2WVzCUoqXaUCQhCy_vylCKwYwTdocRM&usqp=CAU' style='width:25%')
    p.p DATA SCIENCE
