doctype html
head
  title UNIVERSITY ROUTEMAP
  style 
    include courseDetails.css
div
  img(src='./images/UORLogo.png' style='width: 200px;height: 100px;')
h1.head1 UNIVERSITY ROUTE MAP
.dropDown
  span.head2  SELECT YOUR COURSE
  div
    label(for='choosePage') Choose A Page: 
    select#choosePage(name='choosePage' onchange='location = this.value;')
      option(value='') Redirect To
      option(value='/') Home Page
      option(value='/intake') Intake Page
      option(value='/courseDetails') Course Page
      option(value='/getDirections') Get Directions Page
.row
div.courses
  .column
  for item in data
    ul.content 
      li.content
      br
      a.video_text(href='/courseDetails/' + item.C_ID) 
        div #{item.C_NAME}