doctype html
head
  title UNIVERSITY ROUTEMAP
  style 
    include home.css
div
  img(src='./images/UORLogo.png' style='width: 200px;height: 100px;')
h1.head1 UNIVERSITY ROUTE MAP
.row
  .column
    img(src='./images/classDetails.jpg' style='width: 500px; height: 450px;')
    br
    a.video_text(href='/intake')  TO KNOW YOUR CLASS DETAILS
  .column
    img(src='./images/routeMap.webp' style='width: 500px; height: 450px;')
    br
    a.video_text(href='/getdirections')  TO KNOW YOUR DIRECTIONS
