.head1{
    text-align: center;
    color: black;
}
.head2{
    text-align: center;
    text-decoration: underline;
    color: black;
    width: 100%;
    padding-left: 350px;
    padding-bottom: 150px;
    font-size: xx-large;
}
.images{
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding-left: 35px;
    text-align: center;
    font-size:x-large;
  }
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }
.dropDown{
    
    display: flex;
    font-size: x-large;


}
.dropDown div{
    text-align-last: center;
    padding-left: 200px;
}
.dropDown label{
    text-decoration: underline;

}
