doctype html
head
  title UNIVERSITY ROUTEMAP
  link(rel='stylesheet' href='page2.css')
div
  img(src='./UORLogo.png' style='width: 200px;height: 100px;')
h1.head1 UNIVERSITY ROUTE MAP
h5.head2  CHOOSE YOUR INTAKE
.images.d-flex.flex-row
  .row
    .column
      img(src='./january.jpg' style='width: 400px; height: 300px;')
      .dropDown
        .january
          label(for='chooseIntake') Choose your intake year: 
          select#choosePage(name='choosePage')
            option(value='2020') 2020
            option(value='2021') 2021
            option(value='2022') 2022
            option(value='2023') 2023
    .column
      img(src='./april.png' style='width: 400px; height: 300px;')
      .dropDown
        .april
          label(for='chooseIntake') Choose your intake year: 
          select#choosePage(name='choosePage')
            option(value='2020') 2020
            option(value='2021') 2021
            option(value='2022') 2022
            option(value='2023') 2023
    .column
      img(src='./september.jpg' style='width: 400px; height: 300px;')
      .dropDown
        .september
          label(for='chooseIntake') Choose your intake year: 
          select#choosePage(name='choosePage')
            option(value='2020') 2020
            option(value='2021') 2021
            option(value='2022') 2022
            option(value='2023') 2023
