@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.head1 {
    text-align: center;
}

.head2{
    text-align: center;
    text-decoration: underline;
    color: black;
    width: 100%;
    padding-left: 200px;
    padding-bottom: 150px;
    font-size: xxx-large;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
  }
.row {
    display: flex;
  }

.p {
    text-align: center;
    font-family: Roboto;
}
.dropDown{
    display: flex;
}
.dropDown div{
    text-align-last: center;
}
.video_text{
    text-decoration: underline;
    text-align: center;
    color: black;
    padding-left:985px;
    padding-bottom: 1000px;
    font-size:x-large;
    list-style-type: circle;
  }





