.head1{
    text-align: center;
}
.head2{
    text-align: center;
    text-decoration: underline;
    color: black;
    width: 100%;
    padding-left: 200px;
    padding-bottom: 20px;
    font-size: x-large;
}
.head3{
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
    text-decoration: underline;
}
.para1{
    text-align: center;
}
.para2{
    font-weight: bold;
    text-align: center;
}
.timeTable{
    text-align: -webkit-center;
    /* border: 1px solid; */
}
.table, th, td {
  border:1px solid black;
  text-align: center;
  font-size: larger;
}
.displayTable{
    border: 1px solid;
    display: -webkit-inline-box;
}
.dropDown div{
    text-align-last: center;
}
.dropDown{
    display: flex;
    font-size: x-large;
}

